In [1]:
pip install pandas sqlite3

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [2]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv('/content/1. Weather Data.csv')

In [4]:
# Connect to SQLite database (or create it)
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

In [5]:
# Load DataFrame into SQLite database
df.to_sql('weather', conn, if_exists='replace', index=False)

8784

In [6]:
# Commit changes and close connection
conn.commit()
conn.close()

In [7]:
import sqlite3

In [8]:
# Connect to SQLite database
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

In [9]:

# 1. Find all records where the weather was exactly clear.
query_1 = """
SELECT * FROM weather
WHERE Weather = 'Clear';
"""

In [10]:
clear_weather_records = pd.read_sql_query(query_1, conn)
print("Records where the weather was exactly clear:")
print(clear_weather_records)

Records where the weather was exactly clear:
             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0       1/3/2012 19:00   -16.9             -24.8         50               24
1       1/5/2012 18:00    -7.1             -14.4         56               11
2       1/5/2012 19:00    -9.2             -15.4         61                7
3       1/5/2012 20:00    -9.8             -15.7         62                9
4       1/5/2012 21:00    -9.0             -14.8         63               13
...                ...     ...               ...        ...              ...
1321   12/26/2012 6:00   -13.4             -14.8         89                4
1322  12/28/2012 10:00    -6.1              -8.6         82               19
1323   12/29/2012 1:00   -11.9             -13.6         87               11
1324   12/29/2012 2:00   -11.8             -13.1         90               13
1325  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather
0              25.0     101.74   Clear
1              25.0     100.71   Clear
2              25.0     100.80   Clear
3              25.0     100.83   Clear
4              25.0     100.83   Clear
...             ...        ...     ...
1321           25.0     102.47   Clear
1322           24.1     101.27   Clear
1323           25.0     101.31   Clear
1324           25.0     101.33   Clear
1325           25.0     101.52   Clear

[1326 rows x 8 columns]

In [11]:
# 2. Find the number of times the wind speed was exactly 4 km/hr.
query_2 = """
SELECT COUNT(*) as count FROM weather
WHERE `Wind Speed_km/h` = 4;
"""
wind_speed_4_count = pd.read_sql_query(query_2, conn)
print(f"Number of times the wind speed was exactly 4 km/hr: {wind_speed_4_count['count'][0]}")

Number of times the wind speed was exactly 4 km/hr: 474

In [14]:
# 3. Check if there are any NULL values present in the dataset.
query_3 = """
SELECT
    SUM(CASE WHEN [Date/Time] IS NULL THEN 1 ELSE 0 END) as Date_null, -- Changed 'Date' to '[Date/Time]'
    SUM(CASE WHEN `Temp_C` IS NULL THEN 1 ELSE 0 END) as Temp_C_null,
    SUM(CASE WHEN `Dew Point Temp_C` IS NULL THEN 1 ELSE 0 END) as Dew_Point_Temp_C_null,
    SUM(CASE WHEN `Rel Hum_%` IS NULL THEN 1 ELSE 0 END) as Rel_Hum_null,
    SUM(CASE WHEN `Wind Speed_km/h` IS NULL THEN 1 ELSE 0 END) as Wind_Speed_null,
    SUM(CASE WHEN `Visibility_km` IS NULL THEN 1 ELSE 0 END) as Visibility_null,
    SUM(CASE WHEN `Press_kPa` IS NULL THEN 1 ELSE 0 END) as Stn_Press_null,  -- Changed '`Stn Press_kPa`' to '`Press_kPa`'
    SUM(CASE WHEN Weather IS NULL THEN 1 ELSE 0 END) as Weather_null
FROM weather;
"""
null_values = pd.read_sql_query(query_3, conn)
print("NULL values present in the dataset:")
print(null_values)

NULL values present in the dataset:
   Date_null  Temp_C_null  Dew_Point_Temp_C_null  Rel_Hum_null  \
0          0            0                      0             0

   Wind_Speed_null  Visibility_null  Stn_Press_null  Weather_null
0                0                0               0             0

In [15]:
# 4. What is the mean visibility of the dataset?
query_4 = """
SELECT AVG(`Visibility_km`) as mean_visibility FROM weather;
"""
mean_visibility = pd.read_sql_query(query_4, conn)
print(f"Mean visibility of the dataset: {mean_visibility['mean_visibility'][0]}")

Mean visibility of the dataset: 27.66444672131151

In [16]:
# Close the connection
conn.close()